body{font-family: "Arial"; text-align:center;}
a{text-decoration: none;color:#0096ff;}
a:hover{text-decoration:none;}

.product-container{width:300px; border:1px solid #aaa; margin:10px; display:inline-block;}
.product-container img{width:100%; height:auto;}

.page_title{font-size:36px;}
.page_tagline{font-size:18px;}
.description{padding:10px;}

.desc_title, .desc_tagline{padding-top:30px;font-size:16px;}