body{font-family: "Arial"; text-align:center;}
a{text-decoration: none;color:#0096ff;}
a:hover{text-decoration:none;}

.product-container{
	width:300px; 
	border:1px solid #aaa; 
	margin:10px; 
	display:inline-block;
	position:relative;
	z-index:1;
}
.product-container img{width:100%; height:auto;}
.product-remove{
	position:absolute;
	top:5px;
	right:5px;
	z-index: 15;
}
.product-remove span{
	display:block;
	color:white;
	cursor:pointer;
	background: rgba(0, 0, 0, .8);
	padding:0px 5px;
	border-radius:15px;
	font-size:10px;

}

.page_title{font-size:36px;}
.page_tagline{font-size:18px;}
.description{padding:10px;height:80px;}

.desc_title{font-size:16px;}
.desc_tagline{font-size:16px;}
.desc_body{
	position: absolute;
    display: block;
    bottom:0;
    left: 0;
 	right: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    color: #FFF;
    background: rgba(0, 0, 0, .6);
    transition: all 0.5s;
    z-index:5;
}

.product-container:hover .desc_body{
	height:100%;    
}

.desc_body p{
	padding:10px;
}